
<html>
<head>
<title>COMPS381F 2018 Miniproject</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>
<body>

	<h1>Edit Restaurant <%=result.name %></h1>



					<form action= <%= "/edit/"+ result._id%> method="post" encType="multipart/form-data">
            <div>
						<input type="number" name="restaurant_id" placeholder="Restaurant_Id" value="<%= result.restaurant_id||"" %>">
            </div>
            <div>
            <input type="text" name="name" placeholder="Name" required="" value="<%= result.name||"" %>">
            </div>
            <div>
            <input type="text" name="borough" placeholder="Borough" value="<%= result.borough||"" %>">
            </div>
            <div>
            <input type="text" name="cuisine" placeholder="Cuisine" value="<%= result.cuisine||"" %>">
            </div>
            <div>
            <input type="text" name="street" placeholder="Street" value="<%= result.address.street||"" %>">
            </div>
            <div>
            <input type="text" name="building" placeholder="Building" value="<%= result.address.building||"" %>">
            </div>
            <div>
            <input type="number" name="zipcode" placeholder="Zipcode" value="<%= result.address.zipcode||"" %>">
            </div>
            <div>
            <input type="number" name="latitude" placeholder="Gps latitude" value="<%= result.address.coord.latitude||"" %>">
            </div>
            <div>
            <input type="number" name="longtitude" placeholder="Gps longtitude" value="<%= result.address.coord.longtitude||"" %>">
            </div>
						<input type="file" name="rtPhoto" accept="image/*" onchange="loadImageFileAsURL()">
		            <div class="input-margin"></div>
						<input type="submit" value="Update">
					</form>




</body>
</html>
