<html>
<head>
<title>COMPS381F 2018 Miniproject</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>
   <body>
     <h1>Restaurant</h1>
     <p><% if (userId == null){ %>
       User: Visitor
    <% } else { %>
       User: <%= userId %></p>
       <% } %>
     <h3><a href="/new">Create New Restaurant</a></h3>
<table>
  <tr>
    <th>Restaurant_id</th>
    <th>Name</th>
    <th>Owner</th>
  </tr>
        <% for(var i=0; i< result.length; i++) {%>
<tr>
            <td><%=result[i].restaurant_id %></td>
            <td><a href="/display?_id=<%= result[i]._id %>"><%=result[i].name %></td>
            <td><%=result[i].owner %></td>

</tr>

            <%}%>
    </table>
<form action="/query" method="get">
  Search:<input type="text" name="search" required>
  <input type="submit" value="Search">
</form>
<form action="/logout" method="get">
  <button>Log out</button>
</form>
</body>
</html>
